*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: "Merriweather", serif;
    overflow-x: hidden;
}


body::-webkit-scrollbar {
  width: 12px; /* Ancho de la barra de desplazamiento */
}

body::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color de fondo*/
}

body::-webkit-scrollbar-thumb {
  background: #000000; /* Color de la barra de desplazamiento */
  border-radius: 6px; 
}

body::-webkit-scrollbar-thumb:hover {
  background: #2c0404; /* Cambio de color al pasar el mouse sobre el agarre */
}

body{
    width: 100%;
    height: 98.5vh;
    background-image: url(../images/fondolug.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
  }

  
  .logo{
    width: 5em;
    margin-left: 15px;
  }


  .navbar {
    display: flex;
    flex-grow: 1;
    justify-content: center;
  }

  
  
  .lista1,
  .lista2 {
    display: flex;
    font-size: 20px;
    list-style: none;
    padding: 5px;
    margin: 0;
    align-items: center; 
  }

 .lista1 {
margin-left: 25%;
font-weight: 300;
font-size: 25px;
}

.lista1 a {
    text-decoration: none; 
    position: relative; 
  }
  .lista1 a::after,
  .lista2 a::after {
    content: '';
    position: absolute;
    bottom: 0; /* Cambiado de -1px a 0 */
    left: 0;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease;
  }
  
  
  .lista1 a:hover::after {
    width: 100%; 
  }
  


  .lista2 {
    margin-left: auto;
  }

  .lista1 li,
  .lista2 li {
    margin: 10px 15px;
  }

  .lista1 a,
  .lista2 a {
    color: #fff;
    text-decoration: none;
  }


  #registro{
    background-color:white;
    color: black;
    padding: 10px;
    border-radius: 30px;
  }

  #registro a{
    color: black;
  }

  main {
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
      overflow: auto;
  }
  
  .contenido {
    width: 70vw;
    height: 60vh;
    display: flex;
    background-color: #CFDAE8;
    margin: 10px;
    border-bottom-right-radius: 150px;
    border-top-right-radius: 10px;
    border-top-left-radius: 120px;
    border-bottom-left-radius: 10px;
    box-shadow: 5px 5px 20px rgba(127, 126, 126, 0.681); 
    opacity: 70%;
  }
  

.textoContenido {
  width: 50%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}



.pagina {
  display: none;
}

.activa {
  display: block;
}

.parrafoPrincipal{
font-size:1.7rem ;
text-align: center;
color: black;
font-family: "Libre Baskerville", serif;
font-weight: 400;
text-shadow: 2px 1px 1px violet;
}

.textoContenido h2{
  text-align: center;
  font-size: 3rem;
  color: black;
  text-shadow: 2px 1px 1px rgb(255, 187, 0);
  margin-bottom: 30px; 
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
}

.imagenContenido{
  width: 80vh;
  height: 50vh;
  justify-content: center;
  align-items: center;
  display:flex;
  margin-top: 3%;
}

.imagenContenido img{
  width: 70%;
  height: 90%;
  margin-top: 6%;
}


@media (max-width: 768px) {
  .contenido {
    display: block;
    height: 75vh;
    font-size: 0.8rem;
}
  .textoContenido{
 width: 100%;
 height: auto;
}

.textoContenido h2{
  text-align: center;
  font-size: 2em;
}

.imagenContenido{
  width: 100%;
  height: auto;
 }
 .main{ 
  height: auto;
 }
}


@media (max-width: 958px) {
  .contenido {
    display: block;
    height: 75vh;
    font-size: 0.8rem;
}
  .textoContenido{
 width: 100%;
 height: auto;
 margin-top: 20%
}

.imagenContenido{
  width: 100%;
  height: auto;
 }
 .imagenContenido img{
  width: 70%;
  height: auto;
}
}


.btn{
  background-color: black;
  padding: 5px;
  border-radius: 30px;
}

.redes img{
  width:15%;
  margin-bottom: 30px;
}

footer {
  width: 100%;
  margin: 0px 0px 10px 0px;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
}


.logo1{
  width: 4rem;
}

.Contacto{
  text-align: center;
  margin-left: 20px;
  font-size: 1rem;
}

.copy2{
  text-align: center;
  font-size: 1rem;
  margin-right: 20px;
}