*{
  box-sizing: border-box;
  color: white;
  font-family: "Merriweather", serif;
}
body{
  width: 98vw;
  height: 98.3vh;
  background-image: url(../images/fondolug.jpg);
  background-repeat: repeat-y;
  background-size: cover;
  background-position: center;
} 

/*HEADER*/
.header {
  width: 98vw;
  height: 8vh;
  display: flex;
  justify-content: space-between;
}
.logo{
  width: 4.2em;
  opacity: 80%;
}
header > ul {
  list-style: none;
  padding: 1rem;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lista1 {
  font-weight: 450;
  font-size: 2.5vh;
  margin-left: 10vw;
  text-shadow: 2px 2px 2px rgb(138, 26, 138);
}
.lista2 {
  font-weight: 450;
  font-size: 2.5vh;
}
.lista1 li,
.lista2 li {
  margin: 0.5vh;
}
.lista1 a,
.lista2 a {
  text-decoration: none; 
  position: relative; 
  color: #fff;
  text-decoration: none;
}
#registro{
  background-color:rgb(255, 255, 255, 0.6);
  color: black;
  padding:0.8vh;
  border-radius: 1rem;
}
#registro a{
  color: black;
}
.lista1 a::after,
.lista2 a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease;
  opacity: 65%;
}
.lista1 a:hover::after,
.lista1 a.subrayado-permanente::after {
  width: 100%; 
}



/*MAIN*/
main {
  width: 98vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}
.contenido {
  width: 90vw;
  height: 80vh;
  background-color: transparent;
}
.pagina {
  display: none;
}
.activa {
  display: block;
}
.grid-container { /*CONTENEDOR DE LUGARES EN FORMATO GRID*/
  width: 100%;
  padding-top: 70px;
  display: grid;
  grid-template-columns: 250px 250px 250px;
  gap: 1vh 1vw;
  align-content: center;
  justify-content: center;
  margin-bottom: 15px;
}
.expandido {
  width: 500px;
  height: 500px;
  grid-column: span 3; 
  grid-row: span 3; 
}
.grid-container > div {
  display: inline;
  background-color: rgb(240, 248, 255);
  text-align: center;
  font-size: 20px;
  color: black;
  width: 12.5vw;
  height: 22vh;
  border-radius: 15px;
  box-shadow: 5px 5px 15px 15px rgba(0, 0, 0, 0.6);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: 1.5s;
}
.grid-container > div > p {
  font-size: 15px;
  color: rgb(255, 255, 255);
  text-align: center;
  justify-content: center;
  padding-top: 1rem;
  align-content:space-between;
  align-items: center;  
}
.grid-container > div:hover{
  transform: scale(1.1);
  box-shadow: 5px 5px 10px 10px rgba(255, 254, 254, 0.432);

}
.sitio1{
  background-image: url(../images/sitio1elLeoncito.webp);
}
.sitio2{
  background-image: url(../images/sitio2lasOvejasNeuquen.jpg);
}
.sitio3{
  background-image: url(../images/sitio3PuntaPALP.jpeg);
}
.sitio4{
  background-image: url(../images/sitio4PlanetarioMalargue2.jpg);
}
.sitio5{
  background-image: url(../images/sitio5puestoPavon.jpg);
}
.sitio6{
  background-image: url(../images/sitio6ObservatorioUNC.jpeg);
}
.sitio7{
  background-image: url(../images/sitio7CerroChampaqui.jpg);
}
.sitio8{
  background-image: url(../images/sitio8Ampimpa.jpg);
}
.sitio9{
  background-image: url(../images/sitio9EsterosIbera.webp);
}
.sitio10{
  background-image: url(../images/sitio10SaltoEncantado.jpg);
}
.sitio11{
  background-image: url(../images/sitio11PlanetarioAconquija.jpg);
}
.sitio12{
  background-image: url(../images/sitio12SalinasGualicho.jpg);
}
.sitio13{
  background-image: url(../images/sitio13CampoDelCielo.jpg);
}
.sitio14{
  background-image: url(../images/sitio14PlanetarioBA.jpeg);
}
.sitio15{
  background-image: url(../images/sitio15ObservatorioUNLP.jpg);
}
.sitio16{
  background-image: url(../images/sitio16SierraVentana.jpg);
}
.sitio17{
  background-image: url(../images/sitio17ParqueLuro.jpg);
}
.sitio18{
  background-image: url(../images/sitio18SalinasGrandes.webp);
}
.btn{
  background-color: black;
  padding: 5px;
  border-radius: 30px;
  position: fixed;
  right: 24%;
  bottom: 50%;
  width: 5vh;
  height: 5vh;
}
.btn2{
  background-color: black;
  padding: 5px;
  border-radius: 30px;
  position: fixed;
  left: 20%;
  bottom: 50%;
  width: 5vh;
  height: 5vh;
}
.btn3{
  background-color: black;
  padding: 1px;
  border-radius: 30px;
  position: fixed;
  right: 48%;
  bottom: 11%;
  width: 5vh;
  height: 5vh;
}
.tarjeta {
  border-radius: 20px;
  display: none; /* Oculta la tarjeta por defecto */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  height: 75vh;
  width: 65vw;
  z-index: 1000; /* Asegura que esté por encima de otros elementos */
}
.contenido-tarjeta h3{
  color: rgb(255, 167, 5);
  font-size: 3vh;
  text-align: center;
  text-shadow: 1px 1px 3px rgb(252, 82, 3);
}
.contenido-tarjeta p{
  color: rgb(255, 255, 255);
  font-size: 2.5vh;
  text-align: center;
  text-shadow: 1px 1px 3px rgb(252, 82, 3);
  margin-top: 5vh;
}
.contenido-tarjeta {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
}
.contenido-tarjeta > iframe {
  height: 22vh;
  width: 40vw;
  margin-top: -2vh;
}


/*Tarjetas por separado*/
#tarjeta1{
  background-image: url(../images/sitio1elLeoncito.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#tarjeta2{
  background-image: url(../images/sitio2lasOvejasNeuquen.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#tarjeta3{
  background-image: url(../images/sitio3PuntaPALP.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#tarjeta4{
  background-image: url(../images/sitio4PlanetarioMalargue2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#tarjeta5{
  background-image: url(../images/sitio5puestoPavon.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#tarjeta6{
  background-image: url(../images/sitio6ObservatorioUNC.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#tarjeta7{
  background-image: url(../images/sitio7CerroChampaqui.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#tarjeta8{
  background-image: url(../images/sitio8Ampimpa.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#tarjeta9{
  background-image: url(../images/sitio9EsterosIbera.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#tarjeta10{
  background-image: url(../images/sitio10SaltoEncantado.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#tarjeta11{
  background-image: url(../images/sitio11PlanetarioAconquija.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#tarjeta12{
  background-image: url(../images/sitio12SalinasGualicho.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#tarjeta13{
  background-image: url(../images/sitio13CampoDelCielo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#tarjeta14{
  background-image: url(../images/sitio14PlanetarioBA.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#tarjeta15{
  background-image: url(../images/sitio15ObservatorioUNLP.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#tarjeta16{
  background-image: url(../images/sitio16SierraVentana.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#tarjeta17{
  background-image: url(../images/sitio17ParqueLuro.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#tarjeta18{
  background-image: url(../images/sitio18SalinasGrandes.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



/*FOOTER*/
footer {
  width: 100%;
  margin: 0px 0px 10px 0px;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
}
.logo1{
  width: 4rem;
}
.Contacto{
  text-align: center;
  margin-left: 20px;
  font-size: 1rem;
}
.copy2{
  text-align: center;
  font-size: 1rem;
  margin-right: 20px;
}



/* MEDIA PARA SCREEN 1465px*/
@media screen and (max-width: 1465px){
  body{
    width: 98vw;
    height: 98vh;
    background-image: url(../images/fondolug.jpg);
    background-position: center; 
    background-size:auto;
  }
  .header ul{
    padding: 1vw;
  }
  .logo{
    opacity: 80%;
  }
  .lista1 {
    font-weight: 450;
    font-size: 1.5vh;
    display: flex;
    margin-left: 0vh;
  }
  .lista2 {
    font-weight: 450;
    font-size: 1.5vh;
    display: flex;
    margin-right: 0vh;
  }
  .contenido {
    width: 90vw;
    height: 80vh;
    background-color: transparent;
  }

  .grid-container {
    width: 90vw;
    height: 20vh;
    display: grid;
    grid-template-columns: 265px 265px 265px;
    gap: 1vh 1vw;
    align-content: flex-start;
    justify-content: center;
  }

  .grid-container > div {
    width: 20vh;
    height: 20vh;
  }

  .btn{
    background-color: black;
    padding: 5px;
    border-radius: 30px;
    position: fixed;
    right: 2.5%;
    bottom: 15%;
    width: 5vh;
    height: 5vh;
  }
  .btn2{
    background-color: black;
    padding: 5px;
    border-radius: 30px;
    position: fixed;
    left: 2.5%;
    bottom: 15%;
    width: 5vh;
    height: 5vh;
  }
  .footer{
    width: 98vw;
    height: 7.6vh;
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 1vh;
    margin: 0.2vh;
  }
  .logo1{
    width: 3.9rem;
    margin-bottom:0px;
  }
  .Contacto{
    text-align: center;
    margin-left: 20px;
    font-size: 0.8rem;
    text-shadow: 1px 1px 1px rgb(253, 199, 2);
  }
  .copy2{
    text-align: center;
    font-size: 0.8rem;
    margin-right: 20px;
    text-shadow: 1px 1px 1px rgb(223, 175, 0);
  }
}
/* MEDIA PARA SCREEN 800px*/
@media screen and (max-width: 850px) { 
  body{
    width: 98vw;
    height: 98vh;
    background-image: url(../images/fondolug.jpg);
    background-position: center; 
    background-size:auto;
  }
  .header ul{
    padding: 1vw;
  }
  .logo{
    opacity: 80%;
  }
  .lista1 {
    font-weight: 450;
    font-size: 2vh;
    display: flex;
    margin-left: 0vh;
  }
  .lista2 {
    font-weight: 450;
    font-size: 1.5vh;
    display: flex;
    margin-right: 0vh;
  }

  .grid-container{
    width: 90vw;
    height: 20vh;
    padding-top: 1vh;
    display: grid;
    grid-template-columns: 70%;
    gap: 1vh 5vw;
    align-content:flex-start;
    justify-content: center;
    margin-bottom: 10vh;
  }

  .grid-container > div {
    width: 65vw;
    height: 25vh; 
  }
  .btn{
    background-color: black;
    padding: 5px;
    border-radius: 30px;
    position: fixed;
    right: 2.5%;
    bottom: 50%;
    width: 5vh;
    height: 5vh;
  }
  .btn2{
    background-color: black;
    padding: 5px;
    border-radius: 30px;
    position: fixed;
    left: 2.5%;
    bottom: 50%;
    width: 5vh;
    height: 5vh;
  }
  .btn3{
    background-color: black;
    padding: 1px;
    border-radius: 30px;
    position: fixed;
    right: 43%;
    bottom: 2%;
    width: 5vh;
    height: 5vh;
  }

  .tarjeta {
    border-radius: 20px;
    display: none; /* Oculta la tarjeta por defecto */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    height: 80vh;
    width: 80vw;
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
  }
  
  .contenido-tarjeta h3{
    color: rgb(255, 167, 5);
    font-size: 3vh;
    text-align: center;
    text-shadow: 1px 1px 3px rgb(252, 82, 3);
  }
  .contenido-tarjeta p{
    color: rgb(255, 255, 255);
    font-size: 2.5vh;
    text-align: center;
    text-shadow: 1px 1px 3px rgb(252, 82, 3);
    margin-top: 5vh;
  }
  
  .contenido-tarjeta {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .contenido-tarjeta > iframe {
    height: 20vh;
    width: 70vw;
  }

  .footer{
    width: 98vw;
    height: 7.6vh;
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 1.3vh;
    margin: 1vh;
  }
  .logo1{
    width: 3.9rem;
    margin-bottom: 10px;
  }
  .Contacto{
    text-align: center;
    margin-left: 20px;
    font-size: 0.8rem;
    text-shadow: 1px 1px 1px rgb(253, 199, 2);
  }
  .copy2{
    text-align: center;
    font-size: 0.8rem;
    margin-right: 20px;
    text-shadow: 1px 1px 1px rgb(223, 175, 0);
  }
}



/* MEDIA PARA TEXTO TARJETA */
@media screen and (max-width:1220px){
  .contenido-tarjeta p{
    color: rgb(255, 255, 255);
    font-size: 2.1vh;
    text-align: center;
    text-shadow: 1px 1px 3px rgb(252, 82, 3);
    margin-top: 5vh;
  }
}
@media screen and (max-width:630px){
  .contenido-tarjeta p{
    color: rgb(255, 255, 255);
    font-size: 1.8vh;
    text-align: center;
    text-shadow: 1px 1px 3px rgb(252, 82, 3);
    margin-top: 5vh;
  }
}
@media screen and (max-width:360px){
  .contenido-tarjeta p{
    color: rgb(255, 255, 255);
    font-size: 1.6vh;
    text-align: center;
    text-shadow: 1px 1px 3px rgb(252, 82, 3);
    margin-top: 5vh;
  }
}