*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Merriweather", serif;

}


body{
  width: 100%;
  height: 970px;
  background-image: url(../images/cecy8.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


.header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}


.logo{
  width: 5em;
  margin-left: 15px;
}


.navbar {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}



.lista1,
.lista2 {
  display: flex;
  font-size: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center; 
}

.lista1 {
margin-left: 25%;
font-weight: 300;
font-size: 30px;
}

.lista1 a {
  text-decoration: none; 
  position: relative; 
}

.lista1 a::after {
  content: ''; 
  position: absolute; 
  bottom: -3px; 
  left: 0; 
  width: 0; 
  height: 2px; 
  background-color: white; 
  transition: width 0.3s ease; 
}

.lista1 a:hover::after {
  width: 100%; 
}



.lista2 {
  margin-left: auto;
}

.lista1 li,
.lista2 li {
  margin: 5px 15px;
}

.lista1 a,
.lista2 a {
  color: #fff;
  text-decoration: none;
}


#registro{
  background-color:white;
  color: black;
  padding: 10px;
  border-radius: 30px;
}

#registro a{
  color: black;
}

main {
  width: 100vw;
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  margin-top:3%;
}


.contenido {
  width: 80vw;
  height: 28rem;
  display: flex;
  background-color: #CFDAE8;
  margin: 10px;
  border-bottom-right-radius: 150px;
  box-shadow: 5px 5px 20px rgba(127, 126, 126, 0.681); 
}


.textoContenido {
width: 50%;
height: auto;
display: flex;
align-items: center;
justify-content: center;
text-align: center;
}



.pagina {
display: none;
}

.activa {
display: block;
}

.textoContenido h2{
text-align: center;
font-size: 3rem;
font-weight: 300;
text-shadow: 2px 1px 2px rgb(255, 187, 0);
margin-bottom: 10px; 
}

.textoContenido u{
  color: black;
}

.imagenContenido{
width: 50%;
height: 100%;
justify-content: center;
align-items: center;
display: flex;

}

.imagenContenido img{
width: 70%;
height: auto;
}


@media (max-width: 768px) {
.contenido {
  display: block;
  height: auto;
}
.textoContenido{
width: 100%;
height: auto;
}

.textoContenido h2{
text-align: center;
font-size: 2em;
}

.imagenContenido{
width: 100%;
height: auto;
}
}


@media (max-width: 958px) {
.contenido {
  display: block;
  height: 400px;
}
.textoContenido{
width: 100%;
height: auto;
}

.imagenContenido{
width: 100%;
height: auto;
}
.imagenContenido img{
width: 70%;
height: auto;
}
}


.btn{
background-color: black;
padding: 4px;
border-radius: 30px;
}

.redes img{
  width:15%;
  margin-bottom: 30px;
}

.texto{
    font-size: 110%; 
    color:blueviolet;
    line-height: 1.3;
    padding-top: 3%;
    padding-left: 2%;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.parra{
    font-size: 30px; 
    color:black;
    line-height: 1.6;
    text-shadow: 2px 2px 4px rgb(158, 3, 206);
}

.vivi{
  font-size: 19px; 
  color: rgb(231, 171, 6);
  font-weight: bolder;
  text-shadow: 2px 2px 2px rgb(255, 0, 0);

}

footer {
  width: 1920px;
  top: 680px;
  left: 60px;
  overflow: hidden;
}

.Contacto {
  color: rgb(255, 255, 255);
  position:absolute;
  top: 89%;
  left: 2%;
  font-family: 'Segoe UI';
  font-weight: bolder;
  font-size: 16px;
  opacity: 1;
  text-align: center;
  line-height: 1.5;
}

.logo1 {
  width: 6%;
  position: fixed;
  left: 49%;
  bottom: 20px;
}

.copy {
  width: 80px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 91%;
  left: 87%;
  font-family: 'Segoe UI';
  font-weight: bolder;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.copy2 {
  width: 120px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 90%;
  left:90.1%;
  font-family: 'Segoe UI';
  font-weight: Bolder;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}

  